.main-header {
  padding: 15px 9vw;
  background-color: #f8f8f8;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.login-button {
  background-color: #383838;
  padding: 8px 20px;
  margin: 0 0px;
}

.logo {
  width: 35px;
  height: 35px;
}

.mobile {
  display: none;
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    display: flex;
    flex-direction: column;
    transition: height 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  }

  .mobile.open {
    height: 200px;
  }
}
