@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./base.css";

.reg-body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

h2 {
  padding: 10px 0;
  color: var(--bl);
}

label {
  color: gray;
  font-size: small;
  padding-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  max-height: fit-content;
  min-height: 350px;
  background-color: #f8f8f8;
  width: fit-content;
}

input {
  border: 0.5px solid gray;
  border-radius: 5px;
  padding: 5px;
  font-size: small;
  outline: none;
  width: 270px;
  height: 35px;
}

button {
  padding: 5px 30px;
  background-color: var(--bl);
  border-radius: 50px;
  color: #f8f8f8;
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 20px;
}

.button-div {
  display: flex; /* Enables flexbox */
  padding: 5px 0 10px 0;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

span {
  color: var(--bl);
}

.rememberme input {
  width: 15px;
  height: 15px;
}

.rememberme label {
  font-size: 11px;
  padding-left: 2px;
  position: relative;
  top: -3px;
}
